@(title: String, email: String, movies: List[String], ratingsForm: Form[TenRatings], redirect: Int)
@import helper._

@base(title, email) {	@*using main template, with page title as arg*@

    @if(redirect == 1){
        <font color="red">
            <br>Note that you must rate at least 10 movies before getting recommendations.
            <br>When you have done so, please navigate to "Recommended For You".<br><br>
        </font>
    }
    
    @*@form(action = routes.RecApplication.results(), 'id -> "ratingsForm")*@
    @form(action = routes.RecApplication.rate(), 'id -> "ratingsForm") {
        @for((movie, index) <- movies.zipWithIndex) {
            @inputRadioGroup(
                ratingsForm("m" + (index+1)),  
                options = Seq("0" -> "0", "1" -> "1", "2" -> "2", "3" -> "3", "4" -> "4", "5" -> "5"),
                '_label -> movie,
                '_error -> ratingsForm("m" + (index+1)).error.map(_.withMessage("Select Rating"))
            ) 
        }
        <input type="submit" class="tenratings" value="Submit Ratings">         
    }
    @* Which variable the value goes to *@
}
