@(title: String, email: String, movies: List[Movies], ratingsForm: Form[TenRatings], redirect: Int)
@import helper._

@base(title, email) {	@*using main template, with page title as arg*@
    <script src="@routes.Assets.versioned("javascripts/themoviedb.js")"></script>

    @if(redirect == 1){
        <font color="red">
            <br>Note that you must rate at least 10 movies before getting recommendations.
            <br>When you have done so, please navigate to "Recommended For You".<br><br>
        </font>
    }
    
    @*@form(action = routes.RecApplication.results(), 'id -> "ratingsForm")*@
    @form(action = routes.RecApplication.rate(), 'id -> "ratingsForm") {
    
    <div class="container">
        <div class="row">
            @for((movie, index) <- movies.zipWithIndex) {
                <div class="col-xs-4">
                    <img id="poster@movie.id" src="" class = "thumbnail"></img>
                    
                    <script>
                        movie = theMovieDb.movies.getById({"id": @movie.tmdbid }, successCB, errorCB);
                        
                        function successCB(data) {
                            image_size = "w150";
                            var movie = JSON.parse(data);
                            document.getElementById("poster" + @movie.id).setAttribute("src", 
                            theMovieDb.common.getImage({size: image_size, file: movie.poster_path}));
                            
                            console.log(theMovieDb.common.getImage({size: image_size, file: movie.poster_path}));
                            console.log(movie.poster_path);
                        };
            
                        function errorCB(data) {
                            console.log("Error callback: " + data);
                        };
                    </script>
                    
                    @inputRadioGroup(
                        ratingsForm("m" + (index+1)),  
                        options = Seq("0" -> "0", "1" -> "1", "2" -> "2", "3" -> "3", "4" -> "4", "5" -> "5"),
                        '_label -> movie.name,
                        '_error -> ratingsForm("m" + (index+1)).error.map(_.withMessage("Select Rating"))
                    )
                </div>
            }
            <div class="center-block">
                <input type="submit" class="tenratings" value="Submit Ratings and Load More Movies">
            </div>
        </div>
    </div>
    }
    @* Which variable the value goes to *@
}
