@(title: String, regForm: Form[Users])
@import helper._

@base(title) {	@*using main template, with page title as arg*@

    @* CONTENTS FOR REGISTRATION PAGE *@
    @form(action = routes.Application.registered(), 'id -> "regForm") {
        
        @inputText(field = regForm("email"), 'placeholder -> "email")
        @inputText(field = regForm("username"), 'placeholder -> "username")
        @inputText(field = regForm("password"), 'placeholder -> "password")
        <input type="submit" class="tenratings" value="Register Now">         

    }

}
