@(title: String, email: String, movies: List[Movies], links : List[Links])

@base(title, email) {
    <script src="@routes.Assets.versioned("javascripts/themoviedb.js")"></script>
    
    <h1>All Movies<h1>
    
    <ul>
    @for(movie <- movies) {
      <li>@movie.name
        <ul> 
            @movie.description
        </ul>
      </li>
    }
    @for(link <- links) {
      <li>
        <ul> 
            @link.tmdbID
        </ul>
        <img id="poster" src="">
            
        </img>
        
        <script>
            //var movie = theMovieDb.movies.getById({"id": @link.tmdbID }, successCB, errorCB);
            //data = JSON.parse(movie);
            
            movie = theMovieDb.movies.getById({"id": @link.tmdbID }, successCB, errorCB);
            
            function successCB(data) {
                image_size = "w500";
                var movie = JSON.parse(data);
                document.getElementById("poster").setAttribute("src", 
                theMovieDb.common.getImage({size: image_size, file: movie.poster_path}));
                
                console.log(theMovieDb.common.getImage({size: image_size, file: movie.poster_path}));
                console.log(movie.poster_path);
            };
            
            

            function errorCB(data) {
                console.log("Error callback: " + data);
            };
         </script>
     </li>
    } 
    </ul>
}