@(title: String, email: String, movies: List[Movies])

@base(title, email) {
    <script src="@routes.Assets.versioned("javascripts/themoviedb.js")"></script>
    
    <h1>Movies<h1>
    
    <div class="container">
        <div class="row">
        @for(movie <- movies) {
            <div class="col-xs-4">
                <img id="poster@movie.id" src="" class = "thumbnail">
                
                </img>
                
                <script>
                    movie = theMovieDb.movies.getById({"id": @movie.tmdbid }, successCB, errorCB);
                    
                    function successCB(data) {
                        image_size = "w500";
                        var movie = JSON.parse(data);
                        document.getElementById("poster" + @movie.id).setAttribute("src", 
                        theMovieDb.common.getImage({size: image_size, file: movie.poster_path}));
                        
                        console.log(theMovieDb.common.getImage({size: image_size, file: movie.poster_path}));
                        console.log(movie.poster_path);
                    };
            
                    function errorCB(data) {
                        console.log("Error callback: " + data);
                    };
                 </script>
             </div>
        }
        </div>
    </div>
}